html, body {
    width: 100%;
    /* height: 100%; */
    padding: 0;
    margin: 0;
    font-size: 16px;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    /* font-family: "Verdana", Geneva, sans-serif; */
    font-family: "Open Sans", Arial, sans-serif;
}


.navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-height: 4em;
    min-height: 3em;
    width: 100%;
    border-bottom: 1px solid rgb(200, 200, 200);
}

.navbar > a > img  {
    height: 2em;
    width: 3em;
}
.navbar > a:hover {
    cursor: pointer;
}

.navbar > button {
    margin-left: auto;
}

#input-image {
    min-height: 7%;
    height: 7%;
    max-height: 5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#upload-image, #upload-image:hover, #upload-image:active {
    font-size: 1.2em;
    font-family: inherit;
    height: 2em;
    width: 8em;
    border: 0.1em solid #eeeeee;
    border-radius: 0.3em;
    /* border-radius: 0.8em; */
    color: white;
}
#upload-image {
    background-color: #E58F65;
    color: white;
}

#upload-image:hover, #upload-image:active {
    background-color: #e66b2d;
}