html, body {
    width: 100%;
    /* height: 100%; */
    padding: 0;
    margin: 0;
    font-size: 16px;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    /* font-family: "Verdana", Geneva, sans-serif; */
    font-family: "Open Sans", Arial, sans-serif;
    color: rgb(49, 49, 49);
}


p {
    line-height: 1.5;
}

a {
    /* color: rgb(158, 60, 60) */
    color: rgb(184, 99, 99);
    text-decoration: none;
}

a:visited {
    /* color: rgb(143, 81, 81) */
    /* color: rgb(184, 99, 99) */
    color: rgb(158, 60, 60)
}

a:hover {
    color: rgb(216, 46, 46)
}

/* #algorithms {
    max-height: 5%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#algorithms, #algorithms:hover, #algorithms:active {
    font-family: inherit;
    width: 8em;
} */


#main-body {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    align-items: flex-start;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 1em;
    max-width: 90ch;
    min-width: 30ch;
    background: white;
    /* height: 100vh; */
}

#main-body > h1, #main-body > h2 {
    font-size: 1.8em;
}

#main-body > h2, #main-body > h1, #related-fields > h2 {
    color: #D05353;
}

#haar-features-img {
    max-width: 40em;
    max-height: 30em;
    height: auto;
    width: auto;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(226, 185, 166);

}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    background: rgb(204, 204, 204);
}

#main {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

#main-body {
    grid-column: 4 / 13;
}


.navbar {
    grid-column: 1 / 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0px;
    width: 100%;
    height: 100vh;
}

.navbar > a > img  {
    height: 2em;
    width: 3em;
}
.navbar > a:hover {
    cursor: pointer;
}

.navbar > #algorithms {
    margin-left: auto;
    text-decoration: none;
}

.navbar > div {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.main-links {
    font-size: 2em;

    color: rgb(184, 99, 99);

    /* color: rgb(143, 81, 81) */
    /* color: rgb(184, 99, 99) */

}
.main-links:hover, .main-links:active {
    color: rgb(216, 46, 46);
}
.main-links:visited {
    color: rgb(158, 60, 60);
}

#related-fields {
    padding-left: 5%;
    padding-right: 5%;
    width: 90ch;
}
#related-fields > p > a {
    text-decoration: none;
}